<mat-card class="pd-card">
    <mat-card-header>
        <mat-card-title> User </mat-card-title>
    </mat-card-header>

    <img mat-card-image [src]="user | imagen">

    <mat-card-content>
        <h3>{{user.name}}</h3>
        <p>
            <strong>Email</strong> {{ user.email }}
            <br>
        </p>
    </mat-card-content>

    <mat-card-actions>
        <button mat-button color="warn" [routerLink]="['/listado/', user.id ]">
            Read more...
        </button>
    </mat-card-actions>

</mat-card>