<mat-grid-list cols="1" *ngIf="!user; else divUser">
    <mat-grid-tile>
        <mat-spinner></mat-spinner>
    </mat-grid-tile>
</mat-grid-list>


<ng-template #divUser>

    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px">

        <div fxFlex="50">
            <h1>{{ user.name}} <small>- {{ user.name }} </small> </h1>
            <mat-divider></mat-divider>
            <br>
            <img [src]="user | imagen">
        </div>

        <div fxFlex="50">
            <h1>Info</h1>
            <mat-divider></mat-divider>

            <mat-list>
                <mat-list-item> {{ user.email }} </mat-list-item>
            </mat-list>

            <br>
            <button mat-button color="warn" (click)="regresar()">
                return list user
            </button>
        </div>

    </div>


</ng-template>