<h1>List Users</h1>
<mat-divider></mat-divider>
<br>

<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="20px">

    <div fxFlex="20" fxFlex.lg="15" fxFlex.sm="30" *ngFor="let user of users">

        <app-user-tarjeta [user]="user"></app-user-tarjeta>
    </div>
</div>