<div fxLayout="column">
  <div>
    <h1>Search Users</h1>
    <mat-divider></mat-divider>
  </div>

  <div fxLayout="column">
    <h3>Search</h3>

    <mat-form-field>
      <input type="text" placeholder="Insert user name" aria-label="Number" matInput [(ngModel)]="argument"
        [matAutocomplete]="auto" (input)="buscando()">

      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="opcionSeleccionada( $event )">

        <mat-option *ngFor="let user of listUsers" [value]="user">
          {{ user.name }}
        </mat-option>

        <mat-option value="" *ngIf="listUsers.length === 0 && argument.trim().length > 0">
          Nothing found for the term {{ argument }}
        </mat-option>


      </mat-autocomplete>


    </mat-form-field>



  </div>

  <div>
    <pre>{{ userSelected | json }}</pre>
  </div>

</div>